<template>
    <div>

      <ul>
        <li v-for="(usuario, index) in usuarios" :key="index">
          <RouterLink :to="{ name: 'usuario', params: { email: usuario.email } }"
          >Email: {{ usuario.email }}, Nombre: {{ usuario.name }}</RouterLink>
        </li>
      </ul>

        <CrearUsuario />
        
    </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import type { Ref } from 'vue'
import ApiService from '@/service/ApiService';
import CrearUsuario from '@/components/CrearUsuario.vue';

const service = new ApiService()

const usuarios = service.getUsuarios()

onMounted(async () => {
  await service.obternerUsuarios()
  console.log(usuarios.value);
  
})



</script>

<style>
    
</style>
