<template>
    <div>
      <h2><label>Id: </label>{{ usuario.id }}</h2>
      <h2><label>Correo: </label>{{ usuario.email }}</h2>
      <h2><label>Nombre: </label>{{ usuario.name }}</h2>
      <h2><label>Contraseña: </label>{{ usuario.password }}</h2>
    </div>
  </template>
  
<script setup lang="ts">
import { useRoute } from 'vue-router'
import ApiService from '@/service/ApiService';
import { onMounted } from 'vue'
  
  const service = new ApiService()
  const usuario = service.getUsuario()
  
  onMounted(async () => {
    const router = useRoute()
    const usuarioEmail = router.params.email as string
    await service.obtenerUsuario(usuarioEmail)
  })
  
</script>
  
<style>

</style>
  