<template>
    <div>
        <form v-on:submit="enviarDatos" class="formulario">

            <div v-if="mensaje">
                <Error :prop1="mensaje" :prop2="tipo" />
            </div>

            <div v-else>
                <!-- Pues no se muestra nada vea -->
            </div>

            <div class="campo">
                <label for="email"> Email: </label>
                <input 
                    id="email"
                    type="text" 
                    placeholder=""
                    v-model="email"
                >
            </div>

            <div class="campo">
                <label for="nombre"> Nombre: </label>
                <input 
                    id="nombre"
                    type="tel" 
                    placeholder=""
                    v-model="nombre"
                >
            </div>

            <div class="campo">
                <label for="password"> Contraseña: </label>
                <input 
                    id="password"
                    type="text" 
                    placeholder=""
                    v-model="password"
                >       
            </div>

            <div class="boton">
                <input 
                    type="submit" 
                    value="Guardar"
                >
            </div>

        </form>
        
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import type { Ref } from 'vue';
import Error from '@/components/Error.vue'
import ApiService from '@/service/ApiService'

let email:Ref<string> = ref('')
let nombre:Ref<string> = ref('')
let password:Ref<string> = ref('')

let mensaje = ref('')
let tipo = ref('')

const service = new ApiService()


const enviarDatos = (e: any) => {
    e.preventDefault();

    if ([email.value, nombre.value, password.value].includes('')) {
            mensaje.value = 'Todos los campos son obligatorios'
            tipo.value = 'error'
            return
        }
    
    let registro = {
        email: email.value,
        nombre: nombre.value,
        password: password.value,
    }

    console.log(registro);

    service.crearUsuario(registro.email, registro.nombre, registro.password)
    
}

</script>

<style>
    
</style>